{% extends "header.html" %}
{% set currenttab = 'accidents-prediction' %}

{% block bodycontent %}
<div class="accidents-prediction">
	<div class="container-fluid">    
		<div class="row">
			<div class="col-md-4 collision-factors" >
				<h3>Please choose the conditions to predict</h3><br>
				
				<form action="/action_page.php">
				  Collision Date:
				  <input type="datetime-local" name="collision_datetime">
				  
				</form><br>
				<h5>Lighting</h5>
				<div class="input-group">
					<div class="pad">
						<input type="radio" aria-label="Radio for following text input">
					</div>
					<label>Daylight</label>
				</div>

				<div class="input-group">
					<div class="pad"><input type="radio" aria-label="Radio for following text input">
					</div>
			  		<label>Dusk Dawn</label>
				</div>

				<div class="input-group">
					<div class="pad"><input type="radio" aria-label="Radio for following text input">
					</div>
					<label>Dark - Street Lights</label>
				</div>
				
				<div class="input-group">
					<div class="pad"><input type="radio" aria-label="Radio for following text input">
					</div>
					<label>Dark - No Street Lights</label>
				</div>

				<div class="input-group">
					<div class="pad"><input type="radio" aria-label="Radio for following text input">
					</div>
					<label>Dark - Street Lights Not Functioning</label>
				</div>
				
				<div class="input-group">
					<div class="pad"><input type="radio" aria-label="Radio for following text input">
					</div>
					<label>Not stated</label>
				</div><br>

				<h5>Road Conditions</h5>
					<div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Holes, Deep Ruts</label>
					</div>

					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Loose Material on Roadway</label>
					</div>
					
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Construction or Repair Zone</label>
					</div>
					
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Reduced Roadway Width</label>
					</div>
					
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Flooded</label>
					</div>
					
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Other</label>
					</div>
					
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>No Unusual Condition</label>
					</div>
					
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Not Stated</label>
					</div>
					<br>
				
				<h5>Road Surface</h5>
					<div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						 <label>Dry</label>
					</div>
					<div class="input-group">
						  <div class="pad">
						  	<input type="radio" aria-label="Radio for following text input">
						  </div>
						  <label>Wet</label>
						</div>
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Snowy or Icy</label>
					</div>

					<div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input"></div>
						<label>Slippery</label>
					</div>
					
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Not Stated</label>
					</div>
					<br>
					
				<h5>Weather</h5>
					<div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						 <label>Clear</label>
					</div>
					<div class="input-group">
						  <div class="pad">
						  	<input type="radio" aria-label="Radio for following text input">
						  </div>
						  <label>Cloudy</label>
						</div>
					<div class="input-group">
					  	<div class="pad"><input type="radio" aria-label="Radio for following text input">
						</div>
						<label>Raining</label>
					</div>

					<div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input"></div>
						<label>Snowing</label>
					</div>
					
					<div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input"></div>
						<label>Fog</label>
					</div>
					
					<div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input"></div>
						<label>Other</label>
					</div>
					
					<div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input"></div>
						<label>Wind</label>
					</div>
					
				    <div class="input-group">
						<div class="pad"><input type="radio" aria-label="Radio for following text input"></div>
						<label>Not Stated</label>
					</div><br>
				<input type="submit">
				</div>
				<div class ="col-md-8">
	  				<div id="chartContainer" style="height: 250px; width: 70%; padding: 15% 7%"></div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Number of Accidents  vs  Year - based on collision factors"
      },

      data: [

      {
        dataPoints: [
        { x: 1, y: 20 , label: "2014"},
        { x: 2, y: 40,  label: "2015" },
        { x: 3, y: 24,  label: "2016"},
        { x: 4, y: 29,  label: "2017"},
        { x: 5, y: 20,  label: "2018"},
        { x: 6, y: 30, label: "2019"},
        { x: 7, y: 26,  label: "2020"},
        { x: 8, y: 33,  label: "2020"}
        ]
      }
      ]
    });

    chart.render();


     
  }
  </script>
{% endblock %}