{% extends "head.html" %}

{% set currenttab = 'county' %}
{% block scriptcontent %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src = "/static/js/charts.js"> </script>
{% endblock scriptcontent %}    
    
{% block bodycontent %}    

	<br>
	<div id="County Level" class="container">
	  <form action="/action_page.php">
		  Select County:
		  <select name="county" style="margin-right:20px">
		    {% for id,name in counties %}
			    {% if sel_county == id %}
					<option selected value={{ id }}>{{ name }}</option>
				{% else %}
					<option value={{ id }}>{{ name }}</option>
				{% endif %}
			{% endfor %}
		  </select>
		  {% block addcombo %}{% endblock %}
		  <br><br>
	  </form>
	  <nav>
	  <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
		    <a class="nav-item nav-link active" id="data" data-toggle="tab" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="true">Data</a>
		    <a class="nav-item nav-link" id="map" data-toggle="tab" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="false">Map</a>
		  
	   </ul>
	   </nav>
		<div class="tab-content" id="pills-tabContent">
		  <div class="tab-pane fade in active show" id="pills-data" role="tabpanel" aria-labelledby="data">
				<br><br><br>
			  <table style="width:100%">
			  <tr>
				<th>Collision Factor</th>
				<th>Number of Collisions</th> 
				<th>Percentage</th>
			  </tr>
			  <tr>
				<td>Unknown Cause</td>
				<td>7</td>
				<td>26.9</td>
			  </tr>
			  <tr>
				<td>Swinging too wide while making right turn</td>
				<td>11</td>
				<td>42.3</td>
			  </tr>
			  <tr>
				<td>Failure to Signal Turn</td>
				<td>4</td>
				<td>15.4</td>
			  </tr>
			  <tr>
				<td>Driving or Bicycling Under the Influence of Alcohol or Drug</td>
				<td>2</td>
				<td>7.7</td>
			  </tr>
			  <tr>
				<td>Unsafe Speed</td>
				<td>2</td>
				<td>7.7</td>
			  </tr>
			</table>
			  <p> <div id="piechart_3d" style="width: 900px; height: 500px;"></div></p>
		  </div>
		  <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="map">
				<p> <div style= "padding-left:300px"><img src="/static/images/countyview.jpg" class="img-thumbnail" style = "width:75%; height:75%"/></div>
		  </div>
		</div>
	  {% block extracountyinfo %}{% endblock extracountyinfo %}
	</div>
	
{% endblock bodycontent %}