{% extends "header.html" %}
{% set currenttab = 'login' %}

{% block bodycontent %}   
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" href="index.html">Right Turn Analysis</h1>
      <p class="lead">Analysis of the Right Turn Accidents in California</p>
    </div>
  </div>

  <div style = "padding-bottom:10px;padding-left:400px">
    <img src="/static/images/login.png" class="img-thumbnail" style = "width:50%; height:50%"/> 
  </div>
{% endblock bodycontent %}

